---
layout: archive
title: "Embry-Riddle Undergraduate Research"
permalink: /portfolio/erau/
author_profile: false
---

<p>
  Undergraduate research projects completed at Embry-Riddle Aeronautical University, Prescott (AZ). During my time at ERAU, I had the opportunity to explore a broad range of topics across engineering, data science, and applied mathematics, working at the intersection of theory and real-world applications. This experience allowed me to develop a multidisciplinary perspective and build a strong foundation in research across diverse domains.
</p>

{% include base_path %}

{% assign ug_projects = site.portfolio | where: "level", "undergraduate" %}
{% assign erau_projects = ug_projects | where: "institution", "erau" %}

{% for post in erau_projects %}
  {% include archive-single.html %}
{% endfor %}
