---
layout: archive
title: "Research Projects"
permalink: /portfolio/
author_profile: true
---
<p>
  My research interests lie in control theory, estimation, and machine learning for autonomous and networked systems,
  with emphasis on decision-making under uncertainty, robustness, and safety assurance in safety-critical environments. <br>
  <br>
  The following are some of the most recent research projects.
  
</p>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
