---
layout: archive
title: "Research Projects"
permalink: /portfolio/
author_profile: true
---
<p>
  <b>Artificial Intelligence</b> has become an indispensable tool, shaping various aspects of modern life through advancements in Natural Language Processing, Machine Learning, and Neural Networks.
  As an undergraduate student at Embry-Riddle Aeronautical University, I am having the privilege not only to study these technologies in depth but also to apply them across diverse domains.
  Among these, I am particularly drawn to <b>autonomous, safety-critical systems</b>, with a strong focus on their applications in aviation and aerospace.
  This fascination stemmed from the unique challenges these environments present, where uncertainty, stringent safety requirements, and real-time decision-making are paramount. <br>
  
  The following are examples of some of the major research projects completed, or still in progress.
  
</p>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
