---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<ul> Teaching Assistant (TA)
	<ul>
	<li><b>Machine Learning and Big Data Analysis</b>
		<ul>
			<li>Professor Warner</li>
			<li>Fall 2024, Spring 2025</li>
		</ul>
	</li>
  
	<li><b>Software Engineering Practices</b>
		<ul>
			<li>Professor King</li>
			<li>Spring 2025</li>
		</ul>
	</li>
</ul>
<ul> Tutor
	  	<li><b>Engineering Tutor</b>
		<ul>
			<li>Fall 2024</li>
		</ul>
	</li>
</ul>
